CREATE TABLE IF NOT EXISTS platform_settings (id text PRIMARY KEY, ai_provider text DEFAULT 'openrouter', ai_model text DEFAULT 'google/gemma-4-31b-it:free', updated_at timestamp with time zone DEFAULT now()); INSERT INTO platform_settings (id) VALUES ('global') ON CONFLICT DO NOTHING;
